<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <system.web>
        <pages>
            <namespaces>
                <add namespace="GlobalCode" />
            </namespaces>
        </pages>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.6" />
        <httpRuntime targetFramework="4.6" />
        <sessionState timeout="60"  />
        <globalization uiCulture="en" culture="en-US" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory" from="Marjo PV &lt;system@marjopv.com&gt;">
                <specifiedPickupDirectory pickupDirectoryLocation="C:/Tempmail" />
            </smtp>
        </mailSettings>
    </system.net>
    <connectionStrings>
        <add name="MarjoPV_ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MarjoPV_0.4.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <!-- <add name="MarjoPV_ConnectionString" connectionString="Data Source=SQL5019.myASP.NET;Initial Catalog=DB_A1331C_marjopv;User Id=DB_A1331C_marjopv_admin;Password=Merlin1!;" /> -->
    </connectionStrings>
</configuration>